ul {
    list-style-type: none;
    margin: -8px;
    padding: 4px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    right: 270px;
}



.mm
{
    padding: 25px;
    margin: -8px;
        background-color: blue;
        background-repeat: no-repeat;
        background-size: 100%;
    
}
.droit
{
    float: right;

}
.welcom
{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 280%;
    font-style: normal;

}

.welcom2
{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    font-style: normal;
     line-height:0px;
     margin-top: -50px;

    
}
.about
{
    
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    position: relative;
    left: 500px;
}
#parag
{
   
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    position: relative;
    left: 500px;
    
}
.puce
{

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    position: relative;
    left: 500px;
}
.active
{
    position: relative;
    left: 330px;
}
.espace
{
    margin-top: 100px;
}